.body {
  height: 92vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100vw;
}

.header h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
}

.header button {
  width: 196px;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #fb3b83;
}
.header button:hover {
  background-color: #e73073;
}

.list {
  margin: auto;
  width: 65%;
  padding: 1rem 0rem;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list ul li {
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 4rem;
  }
  .header h1 {
    font-size: 48px;
  }
  .header button {
    width: 196px;
    height: 60px;
    font-size: 20px;
  }
  .list {
    padding: 1rem 4rem;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 1rem 2rem;
  }
  .header h1 {
    font-size: 28px;
  }
  .header button {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }
  .list {
    padding: 1rem 2rem;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 1rem 1rem;
  }
  .header h1 {
    font-size: 28px;
  }
  .header button {
    margin-left: 1rem;
    width: 130px;
    height: 40px;
    font-size: 16px;
  }
  .list {
    padding: 0rem 1rem;
  }
}
